* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #b01030;
}

.center {
  text-align: center;
}

nav {
  background-color: #870c25;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav > * {
  margin: 3px 18px;
}

.navContainer {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.navbtn, .startbtn, .nextRound {
  padding: 3px;
  font-size: 1.3em;
  margin: 5px;
  background-color: #148cdc;
  border: 2px solid black;
}

.navbtn:hover, .startbtn:hover, .nextRound:hover {
  background-color: #5014dc;
  color: white;
  cursor: pointer;
}

.gameList {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: fit-content;
  list-style: none;
}

.listTitle {
  font-size: 1.3em;
}

.gameItem {
  padding: 4px;
  margin: 4px;
  border: 2px solid black;
  font-size: 1.3em;
  background-color: #148cdc;
}

.gameItem:hover {
  background-color: #5014dc;
  color: white;
  cursor: pointer;
}

.numberMemory {
  width:100vw;
  margin: auto;
  text-align: center;
}

.incorrect {
  margin-top: 25px;
}

.guessInput {
  font-size: 1.2em;
  padding: 4px;
}

.reactionTest {
  width: 100vw;
  margin: auto;
  text-align: center;
}

.early {
  padding: 19px;
  font-size: 1.2em;
  margin: 5px;
  background-color: #Cb1d36;
  border: 3px solid black;
}

.click {
  padding: 19px;
  font-size: 1.2em;
  margin: 5px;
  background-color: #3d852a;
  border: 3px solid black;
}

.mDown {
  margin-bottom: 75px;
  font-size: 1.2em;
}

.timeBar {
  width: 90%;
  margin: 10px auto;
  height: 22px;
  border: 2px solid gray;
}

.timeBar > div {
  height: 22px;
  width: 100%;
  background-color: #5014dc;
  transition: width 3s linear;
}